#banner{
    margin-top: 50px;
    position: relative;
}
#banner img{
    width: 100%;
    height: 100;
}
#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}
#banner h2{
    font-size: 28px;
}

