@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url(menu.css);
@import url(banner.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
header {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #2874A6;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.contenedor
{
    width: 98%;
    margin: auto;
}
h1
{
    float: left;
}
header .contenedor
{
    display: table;
}
section{
    width: 100%;
    margin-bottom: 25px;
}
#Bienvenidos{
    text-align: center;
}