/*
.icon-configuraciones { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xcf;&nbsp;'); }
.icon-Contacto-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.icon-menu { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf008;&nbsp;'); }
.icon-Correo Electronico { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05a;&nbsp;'); }
.icon-Contacto { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf064;&nbsp;'); }
.icon-logo1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf216;&nbsp;'); }*/