
.icon-configuraciones:before { content: '\cf'; } /* 'Ï' */
.icon-Contacto-1:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-Correo Electronico:before { content: '\f05a'; } /* '' */
.icon-Contacto:before { content: '\f064'; } /* '' */
.icon-logo1:before { content: '\f216'; } /* '' */