            #menuLateral{
                border-color: red;
                border-radius: 0px 19px 19px 0px;
                position: fixed;
                background-color: #262626;
                width: 170px;
                height: 100%;
            }
            
            
            .btnEliminar{
                border-color: #eee;
                height: 30px;
                width: 50px;
                background: url("../../resources/eliminarIcono.png"), no-repeat, center, fixed;
                background-size: 100% 100%;
            }
            
            .table > tbody > tr:hover{
                -webkit-transition-duration: .5s;
                background-color: #2aabd2;
            }
            
            .btnVisualizar{
                border-color: #eee;
                height: 30px;
                width: 50px;
                background: url("../../resources/visualizarIcono.png"), no-repeat, center, fixed;
                background-size: 100% 100%;
            }
            
            .btnDescargar{
                border-color: #eee;
                height: 30px;
                width: 50px;
                background: url("../../resources/descargarIcono.png"), no-repeat, center, fixed;
                background-size: 100% 100%;
            }
            
            .btn-primary{
                border-color: #eee;
                height: 50px;
                width: 70px;
                background: url("../../resources/agregarIcono.png"), no-repeat, center, fixed;
                background-size: 100% 100%;
            }
            
            div.content{
                width: 160px;
                height: 25px;
                margin: 5px;
                margin-top: 20px;
            }

            div.content:hover{
                width: 180px;
                border-radius: 0px 200px 200px 0px;
                background-color: #2aabd2;
                -webkit-transition-duration: .7s;
            }
            
            div#primerContenedor{
                margin: 0 auto;
                //margin-top: 0px;
                //margin-bottom: 0px;
                margin-top: 70px;
                //margin-bottom: 20px;
                width: 160px;
                height: 120px;
                
                //border: 2px;
                //border-color: red;
                //margin-top: 70px;
            }
            
            #fotoPersonal{
                border-radius: 19px 19px 19px 19px;
            }
            
            #fotoPersonal:hover{
                //border-radius: 25px 25px 25px 25px;
                cursor: pointer;
            }
            
            div#segundoContenedor{
                margin-top: 50px;
            }

            div.logo{
                width: 25px;
                height: 25px;
                float: left;
            }

            p.texto{
                font-size: 15px;
                text-align: end; 
                color: white;
                margin-right: 30px;
                line-height: 25px; 
            }
            
            p.texto:hover{
                cursor: pointer;
            }
            
            .barraSuperior{
                color: white;
                background-color: #262626;
                border-radius: 0px 0px 19px 0px;
                position: fixed;
                width: 100%;
                height: 70px;
                padding-left: 175px;
            }
            
            #zonaBusqueda{
                margin: 0px auto;
                width: 100%;
                //background-color: #c0c0c0;
            }
            
            #buscar{
                margin-top: 10px;
                width: 90%;
            }
            
            body{
                background: url(../../resources/logoRemediosMarcaAgua.png) no-repeat center center fixed;
                background-color: #eee;
                background-size: 70% 50%;
                background-position-x: 270px;
                background-position-y: 200px;
            }
            
            .sobrante{
                height: 100%;
                padding-top: 80px;
                margin-left: 170px;
            }
            
            .workArea{
                position: static;
                margin-right: 20px;
                margin-left: 20px;
                padding-top: 20px;
                margin-bottom: 4px;
            }
            
            .btnOption{
                line-height: 10px;
                height: 22px;
            }
            
            /*Nuevas propiedades*/
            
            .form-control{
                border-color: seagreen;
                margin: 5px 5px 5px 5px;
                width: 200px;
            }
            
            .etiqueta{
                font-size: 16px;
            }
            
            #formNuevo{
                position:inherit ;
                width: 100%;
            }

            legend{
                margin-left: 10px;
            }
            
            #tablaBusqueda{
                background: black;
            }
            
            body{
                font-variant: historical-forms;
            }
            
